<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Registration</title>
</head>
<body>
<h2>Register New User</h2>
<form th:action="@{/users/save}" th:object="${UserForm}" method="post">
  <label>Name:</label>
  <input type="text" th:field="*{username}" required/><br/>

  <label>Email:</label>
  <input type="email" th:field="*{useremail}" required/><br/>

  <label>Password:</label>
  <input type="password" th:field="*{userpassword}" required/><br/>

  <label>Role:</label>
  <select th:field="*{userrole}">
    <option value="ADMIN">Admin</option>
    <option value="ORGANIZER">Organizer</option>
    <option value="PARTICIPANT">Participant</option>
  </select><br/>

  <button type="submit">Register</button>
</form>
</body>
</html>