<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${UserList}">
        <td th:text="${user.userid}">1</td>
        <td th:text="${user.username}">JohnDoe</td>
        <td th:text="${user.userrole}">Admin</td>
        <td>
            <a th:href="@{/users/edit/{id}(id=${user.userid})}">Edit</a>
            <a th:href="@{/users/delete/{id}(id=${user.userid})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>